<table class="table mt-2">
  <thead>
    <tr>
      <th> Title</th>
      <th> Director</th>
      <th> Released</th>
      <th> Free</th>
      <th> Description</th>
      <th> FilmUrl</th>
      <th> Genres</th>
    </tr>
  </thead>

  <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th>@item.Title</th>
                <th>@item.Director.Name</th>
                <td>@item.Released</td>
                <td>@(item.Free ? "Free" : "Paid")</td>
                <td>@item.Description</td>
                <td>@item.FilmUrl</td>
                <td>@GetFilmGenres(item)</td>
                
                <td>
                    <div class="d-flex me-1 justify-content-end">
                        <button class="btn btn-outline-primary rounded-0 me-1" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Edit, item.Id)))">Edit</button>
                        <button class="btn btn-outline-danger rounded-0" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Delete, item.Id)))">Delete</button>
                    </div>
                </td>
            </tr>
        }
  </tbody>
</table>

@code {
    [Parameter] public List<FilmListDTO> Model { get; set; } = new();
    [Parameter] public EventCallback<ClickModel> OnClick { get; set; } = new();

    public string GetFilmGenres(FilmListDTO film)
    {
        string filmgenres = "";
        foreach (var genre in film.Genres)
        {
            filmgenres += $"{genre.Name}, ";
        }
        if(filmgenres == "")
        {
            return "";
        }
        return filmgenres.Substring(0,filmgenres.Length-2);
    }
}